<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Home</title>
</head>
<body>
    <div class="Title">
        <h1>Welcome</h1>
    </div>
    <div class="Menu_Tab">
        <div class="Menu_Buttons">
            <button>TempOne</button>
            <button>TempTwo</button>
            <button>TempThree</button>
            <button>TempFour</button>
            <button>TempFive</button>
            <button>TempSix</button>
            <button>TempSeven</button>
        </div>
    </div>
    <div class="chatBox">
        <div class="chatOptions">
            <div class="optionBox">
                <button id="chatButton">First</button>
            </div>
            <div class="optionBox">
                <button id="chatButton">Second</button>
            </div>
            <div class="optionBox">
                <button id="chatButton">Third</button>
            </div>
            <div class="optionBox">
                <button id="chatButton">Fourth</button>
            </div>
            <div class="optionBox">
                <button id="chatButton">Fiverrrr</button>
            </div>

        </div>
        <div class="content">
            <p>MOCKMOCKMOCKMOCKMOCKMOCK</p>
        </div>
    </div>
</body>
</html>